.header
    background-color: #efefef
.nav
    background-color: #4077c0
    padding: 5px
ul, li 
    display: flex
    flex-direction: row
    justify-content: flex-start
    margin-right: 15px
    text-decoration: none
    color: white
    font-weight: bolt
    font-size: 25px
ul, li:hover 
    color: pink
.container
    background-image: url(Telsa-Pic.jpg)
    position: relative
    text-align: center
.p-3
    display: flex
    justify-content: center
    color: white
footer 
    padding: 5px
    background-color: #7c7070
